<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/assets/css/apap.css}"/>
        <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" href="/assets/css/jquery.dataTables.css">
    </head>

    <head th:fragment="js">
        <script src="/assets/js/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="></script>
        <script src="/assets/js/popper.min.js"></script>
        <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

        <script type="text/javascript" charset="utf8" src="/assets/js/jquery.dataTables.js"></script>
    </head>
</head>

<body>
<nav th:fragment="navbar(activeTab)" class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand font-weight-bold text-primary" href="/">
        SmartKos - UTS APAP 2024
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li th:class="${activeTab == 'home'} ? 'active' : ''">
                <a class="nav-item nav-link" th:href="@{/}">
                    Beranda<span class="sr-only">(current)</span></a>
            </li>
            <li th:class="${activeTab == 'lokasi-view-all'} ? 'active' : '' ">
                <a class="nav-item nav-link" th:href="@{/lokasi/view-all}">
                    Lihat Semua Lokasi<span class="sr-only"></span></a>
            </li>
            <li th:class="${activeTab == 'lokasi-add'} ? 'active' : '' ">
                <a class="nav-item nav-link" th:href="@{/lokasi/add}">
                    Tambah Lokasi<span class="sr-only"></span></a>
            </li>
            <li th:class="${activeTab == 'kamar-view-all'} ? 'active' : '' ">
                <a class="nav-item nav-link" th:href="@{/kamar/view-all}">
                    Lihat Semua Kamar<span class="sr-only"></span></a>
            </li>
            <li th:class="${activeTab == 'kamar-tersedia'} ? 'active' : '' ">
                <a class="nav-item nav-link" th:href="@{/kamar/tersedia}">
                    Lihat Kamar Tersedia<span class="sr-only"></span></a>
            </li>
            <li th:class="${activeTab == 'statistik'} ? 'active' : '' ">
                <a class="nav-item nav-link" th:href="@{/report/statistics}">
                    Statistik<span class="sr-only"></span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/lokasi/search}" method="get">
            <input class="form-control mr-sm-2" type="search"
                   name="name" placeholder="nama lokasi" aria-label="Cari Lokasi">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                Cari Lokasi
            </button>
        </form>
    </div>
</nav>
</body>

</html>