<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UTS - 1234567890</title>
    <object th:insert="~{fragments/fragment::css}" th:remove="tag"></object>
    <object th:insert="~{fragments/fragment::js}" th:remove="tag"></object></head>
<body>
<nav th:replace="~{fragments/fragment::navbar(home)}"></nav>

<div class="d-flex justify-content-center">
    <div class="m-4">
        <h2 class="pb-5">Sistem SmartKos</h2>
        <div class="d-flex justify-content-center">
            <a th:href="@{/lokasi/view-all}" class="mx-2 btn btn-outline-primary">Lihat Semua Lokasi</a>
            <a th:href="@{/lokasi/add}" class="mx-2 btn btn-outline-primary">Tambah Lokasi</a>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <a th:href="@{/kamar/active}" class="mx-2 btn btn-outline-primary">Lihat Semua Kamar</a>
            <a th:href="@{/kamar/active}" class="mx-2 btn btn-outline-primary">Lihat Kamar Tersedia</a>
            <a th:href="@{/report/statistics}" class="mx-2 btn btn-outline-primary">Statistik</a>
        </div>
    </div>
</div>

</body>
</html>